@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto+Slab&family=Urbanist:ital,wght@1,600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #380c38;
    background-size: cover;
    background-position: center;
}
header{
    position: flex;
    width:100%;
    height:100vh; 
    background-size: cover;
}
nav{ 
    display: flex;
    width: 100%;
    background: #f4f4f4;
    position: absolute;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}
nav .icon a{
    font-size: 35px;
    font-weight: 800;
    color:black;
    cursor: pointer;
    text-decoration: none;
}
nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;


}
nav ol li{
    margin:0 2px;

}
nav ol li a{
    color: black;
    font-size: 20px;
    text-decoration:dotted;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}
nav ol li:hover a{
    background: black;
    color: #fff;
    border-radius: 20px;
}

.wrapper{
    position: absolute;
    width:400px;
    height:450px;
    background:rgba(255,255,255,0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition: transform .5s ease,height .2s ease;
    flex-wrap: wrap;
    margin: 4% auto;
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box{
    width:100%;
    padding: 40px;
    
}

.wrapper.form-box.login{
    transition: transform .18s ease;
    transform: translateX(0);
    
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    width: 100%;
    position: absolute;
    transition: none;
    transform: translateX(400px);
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    

    
}

 .wrapper.active .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
    
   
    
 }
 

.wrapper .icon-close{
    position: absolute;
    top:0;
    right:0;
    width: 45px;
    height: 45px;
    background: #fff;
    font-size: 2em;
    color:#1f1b1b;
    display: flex;
    justify-content: center;
    align-items:center;
    border-bottom-left-radius: 20px;
    cursor:pointer;
    z-index:1;


}

.form-box h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    width:100%;
    height:50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top:50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height:100%;
    background: transparent;
    border: none;
    outline:none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5 px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    
    line-height: 57px;
}

.remember-forgot{
    font-size: .9em;
    color:#fff;
    font-weight: 500;
    margin: -15px 0 15 px;
    display:flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;

}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background:#fff ;
    border:none;
    outline:none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1em;
    color:#1f1b1b;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight:500;
    margin: 25px 0 10px;

}

.login-register p a:hover{
    text-decoration: underline;
    color: #fff;
}

.wrapper  .register-link{
    color: #fff;
}

.wrapper  .login-link{
    color: #fff;
}







    


